/*banner styles*/
#banner
    background-color: #538842
    padding: 50px
    color: #fff
    position: relative
    h1
      margin-bottom: 15px
    p
      font-size var-font-size + 7
    .postcode-input,
    .btn
      display: block
      width: 100%
    .postcode-input
      font-size var-font-size + 6
      color: #313131
      padding: 20px 20px 20px 50px
      margin-bottom: 20px
      background: url(../img/icons/map-pointer.png)  #fff no-repeat
      background-position: 4% center

.mac-img
    margin-top: 60px

.input-tooltip
    display: inline-block
    position: absolute
    top: 5px
    right: 10px

.slider-arrow-down
    text-align: center
    margin-top: 10px
