
 header
    position: relative
    width: 100%
    .container
      position: static
      padding: 0

 #top-bg
    background: url(../img/top-bg.jpg) no-repeat
    background-size: cover
    height: 260px
    width: 100%
    position: absolute
    top: 0

 #top-menu,
 .top-menu-list,
 #logo
    float: left
 #logo
    padding: 14px 0
 #side-right,
 .header-help-center,
 .header-call-text
    float: right

 .header-help-center
    padding: 10px 0
    margin-top: 5px

 .navbar
    padding: 0
    display: block

.top-menu-list
    padding: 0
    margin: 0
    li
      display: inline-block
      margin-right: 35px
      a
        display: inline-block
        font-size var-font-size + 2
        font-family font-bold
        color: #373737
        position: relative
        padding: 25px 0 25px
      a:hover
        color: #ed9826
#toggle
    display: none
    width: 28px
    height: 35px
    margin: 0 auto
    position: absolute
    top: 20px
    right: 100px
    padding-top: 10px
    span
      position: relative
    span:after
      top: 9px
    span:before
      top: -9px
    span,
    span:before,
    span:after
      display: block
      content: ""
      position: absolute
      left: 0
      width: 100%
      height: 5px
      background-color: #888
      transition(all 0.3s ease-in-out 200ms)
      backface-visibility: hidden
      border-radius(2px)

#toggle.on
  span
    background-color: transparent
  span:before
    transform: rotate(45deg) translate(5px, 5px)
  span:after
    transform: rotate(-45deg) translate(7px, -8px)

#toggle.on + #side-right
  opacity: 1
  visibility: visible

#side-right
  position: static
  margin: auto
  text-align: center
  border-radius(4px)

#side-right:after
  position: absolute
  top: -15px
  left: 95px
  content: ""
  display: block

.header-call-icon
    display: inline-block
    background-color: #1a81c5
    color: #fff
    height: 27px
    width: 27px
    text-align: center
    border-radius(50%)
    font-size var-font-size + 4
    padding-top: 3px
    margin: 8px 10px 0 5px

.header-call-text
    p
      font-size var-font-size + 10
      margin: 0
      color: #373737
      span
        color: #36879b
        font-size var-font-size - 3
        display: block
        font-family: font-semibold

 
