/*banner styles*/
#banner
    background-color: #538842
    padding: 50px
    color: #fff
    position: relative

#banner h1
    margin-bottom: 15px

#banner p
    font-size: 19px

#banner input , #banner .btn
    display: block
    width: 100%

#banner input
    font-size: 18px
    color: #313131
    padding: 20px 20px 20px 50px
    margin-bottom: 20px
    background: url(../img/icons/map-pointer.png)  #fff no-repeat
    background-position: 4% center

.mac-img
    margin-top: 60px

.input-tooltip
    display: inline-block
    position: absolute
    top: 5px
    right: 10px

.arrow-down
    text-align: center
    margin-top: 10px

 .slider
    width: 100%
    margin: 0 auto
