

 @font-face
   font-family 'ProximaNovaRegular'
   src url('fonts/ProximaNovaRegular.eot')
   src  url('fonts/ProximaNovaRegular.eot') format('embedded-opentype'),
     	url('fonts/ProximaNovaRegular.woff2') format('woff2'),
     	url('fonts/ProximaNovaRegular.woff') format('woff'),
     	url('fonts/ProximaNovaRegular.ttf') format('truetype'),
     	url('fonts/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg')

 @font-face
   font-family 'ProximaNovaSimibold'
   src url('fonts/ProximaNovaSimibold.eot')
   src  url('fonts/ProximaNovaSimibold.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaSimibold.woff2') format('woff2'),
         url('fonts/ProximaNovaSimibold.woff') format('woff'),
         url('fonts/ProximaNovaSimibold.ttf') format('truetype'),
         url('fonts/ProximaNovaSimibold.svg#ProximaNovaSimibold') format('svg')

  @font-face
    font-family 'ProximaNovaLight'
    src: url('fonts/ProximaNovaLight.eot')
    src: url('fonts/ProximaNovaLight.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaLight.woff2') format('woff2'),
         url('fonts/ProximaNovaLight.woff') format('woff'),
         url('fonts/ProximaNovaLight.ttf') format('truetype'),
         url('fonts/ProximaNovaLight.svg#ProximaNovaLight') format('svg')

   @font-face
    font-family: 'ProximaNovaBold'
    src: url('fonts/ProximaNovaBold.eot');
    src: url('fonts/ProximaNovaBold.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaBold.woff2') format('woff2'),
         url('fonts/ProximaNovaBold.woff') format('woff'),
         url('fonts/ProximaNovaBold.ttf') format('truetype'),
         url('fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg')


// variable
font-size1 = 16px
font-size2 = 42px
font-size3 = 38px
font-size4 = 22px
font-bold = 'ProximaNovaBold'
font-regular = 'ProximaNovaRegular'
border-radius(val)
  -webkit-border-radius: val
  -moz-border-radius: val
  -ms-border-radius: val
  -o-border-radius: val
  border-radius: val


a:hover
    text-decoration: none
    color: white

*
    -webkit-transition: all 0.5s ease-in-out
    -moz-transition: all 0.5s ease-in-out
    -o-transition: all 0.5s ease-in-out
    transition: all 0.5s ease-in-out
    box-sizing: border-box

body
     color: #373737
     font-size font-size1
     font-family font-regular

h1
    font-size font-size2

h2
     font-size font-size3

h4
     font-size font-size4

strong
   font-family font-bold


.form-group
    position: relative

.clear
    clear: both

.btn
    font-size: 20px
    padding: 15px 65px
    cursor: pointer

.btn:after
    content: ''
    display: inline-block
    width: 25px
    height: 17px
    background: url(../img/icons/left-icon.png) no-repeat
    position: relative
    margin: 0 0 0 10px
    top: 2px

.main-bg
        background: linear-gradient(140deg, #75a245 0%, #71a145 50%, #538842 75%)

.main-bg2
        background: linear-gradient(140deg, #75a245 0%, #71a145 50%, #72a649 75%)

.btn2
    font-size: 14px
    padding: 10px
    width: 180px
    text-align: center
    border-radius(30px);

.color1
    background-color: #F39C12
    border-bottom: 4px solid #e19011
    color: white
    font-family font-bold

.color1:hover
    background-color: #e19011;
    color: #fff !important

.default-line
    border: 6px solid #f39c12
    width: 95px
    float: left
    margin: 0 0 15px 0
    display: block
    border-radius(5px)

.right-space
    padding-right: 40px

.sub-title
    font-size: 19px

.mobile
    display: none

section
    h2
      color #69a646


@import "header.styl";
@import "banner.styl";
@import "section.styl";
@import "sidebar.styl";
@import "footer.styl";
