/*sidebar section*/
border-radius(val)
  -webkit-border-radius: val
  -moz-border-radius: val
  -ms-border-radius: val
  -o-border-radius: val
  border-radius: val

.widget-box
    padding: 20px
    border-radius(6px)
    color: white
    margin-bottom: 30px

.search-box
    h4
      font-size: 18px
      text-transform: uppercase
      font-family: 'ProximaNovaSimibold'
    input[type="text"]
      border-radius: 20px
      width: 100%
      border: none
      padding: 15px 45px 15px 20px
      color: #737373
      font-size: 14px
      position: relative
    button
      border: none
      height: 30px
      width: 30px
      text-align: center
      color: #fff
      background-color: #f39c12
      border-radius(50%)
      cursor: pointer
      position: absolute
      right: 45px
      top: 55px
      i
        font-size: 14px

.quote-box
    h4
      font-size: 22px
      margin-bottom: 25px
    p
      margin: 0
    input[type="text"]
      width: 100%
      padding: 15px 30px 15px 35px
      border: none
      color: #2d2d2d
      font-size: 14px
      border-radius(4px)
      margin-bottom: 15px
      height: auto !important
    .selectDiv
      width: 100%
      padding: 10px 30px 10px 35px
      overflow: hidden
      background: url('../img/icons/down-icon.png') no-repeat right #fff
      border: #ccc 1px solid
      border-radius(4px)
      margin-bottom: 15px
      position: relative
      z-index:100
      select
        margin:0px
        padding:0px
        opacity:0
        position:absolute
        top:0
        left:0
        width:100%
        height:100%
        display:block
        z-index:101
      .select-icon
        background: url(../img/icons/man-user-icon.png) #fff no-repeat
        background-position: 4% center
        position: absolute
        height: 20px
        width: 20px
        left: 10px
        top: 12px
      select:focus
        outline: none
      option
        color: #2d2d2d
    .selectDefault
        color: #2d2d2d
    .option-caret
      background: url(../img/icons/option-icon.jpg) #fff no-repeat
      padding: 20px
      display: block
      position: absolute
      right: 37px
      z-index: 10000
      background-position: center center
    input[type="submit"]
      width: 100%
      font-size: 18px
      margin-bottom: 15px
    .input-code
      background: url(../img/icons/postcode-icon.png) #fff no-repeat
      background-position: 4% center

.call-num
    font-size: 20px
    font-weight: bold
    i
      display: inline-block
      height: 25px
      width: 25px
      color: #6fab4a
      background-color: #fff
      margin-right: 10px
      border-radius(50%)
      font-size: 18px
      padding-top: 3px

.archive-box
.post-box-link
   padding: 20px 25px 20px 15px

.post-box-link
   display: flex

.popular-post
    margin-bottom: 30px

.popular-post h4
.archive-post h4
  padding-bottom: 20px
  margin-bottom: 25px
  border-bottom: 2px solid #e8e8e8
  color: #73af47
  font-size: 22px
  font-weight: bold
  text-transform: uppercase

.popular-box
.archive-box
    border: 1px solid #ebebeb
    margin-bottom: 15px
    border-radius(4px)

.popular-box
  .meta
    margin: 0
  .excerpt
    a
      color: #2d2d2d
  img
    margin-top: 10px
    max-width: 55px
    height: 55px
    border-radius: 50%

.archive-list
  li:last-child
    margin: 0

.post-box-link:hover
    background-color: #f2f2f2

.img-post
    display: inline-block
    margin-right: 20px

.meta
    .popular-post-date
       font-size: 11px
       color: #71be59
       font-weight: bold

.single-post-content
    font-size: 13px
    line-height: 16px
    display: block
    color: #2d2d2d
    font-weight: bold

.archive-list
    li
      display: block
      position: relative
      margin-bottom: 15px
      a
        font-size: 13px
        color: #606060
    li > a:hover
    .excerpt a:hover
      color: #f4a221
    li:before
      border-left: 8px solid #f4a221
      left: -20px
      top: 8px
