/*sidebar section*/

.widget-box
    padding: 20px
    border-radius(6px)
    color: white
    margin-bottom: 30px

.widget-search-box
    h4
      font-size var-font-size + 6
      text-transform: uppercase
      font-family: 'ProximaNovaSimibold'
    input[type="text"]
      border-radius: 20px
      width: 100%
      border: none
      padding: 13px 45px 13px 20px
      color: #737373
      font-size var-font-size + 2
      position: relative
    button
      border: none
      height: 30px
      width: 30px
      text-align: center
      color: white
      background-color: #f39c12
      border-radius(50%)
      cursor: pointer
      position: absolute
      right: 45px
      top: 55px
      i
        font-size var-font-size + 2

.widget-quote-box
    h4
      font-size var-font-size + 10
      margin-bottom: 25px
    .quote-prefer-text
      margin-bottom: 8px
    p
      margin: 0
    input[type="text"],
    select
      width: 100%
      border: none
      color: #2d2d2d
      font-size var-font-size + 2
      border-radius(4px)
      margin-bottom: 15px
      padding: 15px 30px 15px 35px
    select
      -moz-appearance: window;
      -webkit-appearance: none;
    input[type="submit"]
      width: 100%
      font-size var-font-size + 6
      margin-bottom: 15px
    .quote-input-code
      background: url(../img/icons/postcode-icon.png) #fff no-repeat
      background-position: 4% center
    .quote-select-code
      background-image: url(../img/icons/man-user-icon.png), url(../img/icons/down-icon.png)
      background-repeat: no-repeat, no-repeat
      background-position:  4% center, right, center
.quote-call-num
    font-size var-font-size + 8
    font-weight: bold
    i
      display: inline-block
      height: 25px
      width: 25px
      color: #6fab4a
      background-color: #fff
      margin-right: 10px
      border-radius(50%)
      font-size var-font-size + 6
      padding-top: 3px
.quote-prefer-text
    font-size: 13px
.archive-box,
.popular-post-box-link
   padding: 20px 25px 20px 15px

.popular-post-box-link
   display: flex

.popular-post
    margin-bottom: 30px

.popular-post h4
.archive-post h4
  padding-bottom: 20px
  margin-bottom: 25px
  border-bottom: 2px solid #e8e8e8
  color: #73af47
  font-size var-font-size + 10
  font-weight: bold
  text-transform: uppercase

.popular-box,
.archive-box
    border: 1px solid #ebebeb
    margin-bottom: 15px
    border-radius(4px)

.popular-box
  .popular-meta
    margin: 0
  img
    margin-top: 10px
    max-width: 55px
    height: 55px
    border-radius: 50%

.popular-post-box-link:hover
    background-color: #f2f2f2

.popular-img-post
    display: inline-block
    margin-right: 20px

.popular-meta
    .popular-post-date
       font-size var-font-size - 1
       color: #71be59
       font-weight: bold

.popular-single-post-content
    font-size var-font-size + 1
    line-height: 16px
    display: block
    color: #2d2d2d
    font-weight: bold

.archive-list
    li
      display: block
      position: relative
      margin-bottom: 15px
      a
        font-size var-font-size + 1
        color: #606060
    li > a:hover
      color: #f4a221
    li:before
      border-left: 8px solid #f4a221
      border-top: 4px solid transparent
      border-bottom: 4px solid transparent
      font-size var-font-size - 12
      line-height: 0%
      width: 0px
      content: ""
      display: block
      position: absolute
      left: -20px
      top: 8px
    li:last-child
      margin: 0

@media screen and (max-width: 990px)
    #sidebar
        margin-top: 40px

    .widget-quote-box .input-code
        background-position: 2% center

    .widget-search-box button
        top: 95px

@media screen and (max-width: 580px)
    .main-blog-meta
        span
          display: block
          font-size var-font-size + 2

    /* widget style */
    .widget-quote-box
      input[type="text"],
      select
        font-size var-font-size - 1
        padding: 10px 10px 10px 35px

     .widget-search-box
        input[type="text"]
          padding: 10px 35px 10px 20px
          font-size var-font-size - 1

    .widget-search-box button
        top: 90px
        right: 25px

    .widget-quote-box .select-icon
        top: 8px
